<!DOCTYPE html>
<html>

<head>
    <title>Signup - Express X</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body>

<h1>Create Express X Account</h1>

<form method="POST">

<input name="name" type="text" placeholder="Enter Name">

<br><br>

<input name="email" type="email" placeholder="Enter Email">

<br><br>

<input name="password" type="password" placeholder="Create Password">

<br><br>

<button type="submit">Signup</button>

</form>

<br>

<a href="/">Back Home</a>

</body>

</html>